<%- include('./components/header.ejs') %>
<section class="flex column blog">
  <img src="blog.gif" class="Cover-Video" />
  <div class="overlay"></div>
  <div class="heading-text gradient-text">Blogs</div>
  <% blogData.forEach(element => { %>
  <div class="flex s-eve blog-post">
    <div class="blog-post-img">
      <img src="<%= element.image %>" alt="blog-image" />
    </div>
    <div class="blog-post-para flex column">
      <h1 class="gradient-text"><%= element.title %></h1>
      <div class="post-info flex s-eve">
        <span>Read Time: <%= element.readTime %> min to read</span>
        <span>Time: <%= element.time %></span>
        <span>Date: <%= element.date %></span>
      </div>
      <p><%= element.caption %></p>
      <div class="flex s-eve blog-btn">
        <a class="like"><i class="fas fa-thumbs-up"></i>0</a>
        <a class="comment"><i class="fas fa-comments"></i>0</a>
        <a class="share" data-type="/blog/<%= element._id %>"
          ><i class="fas fa-share-alt"></i
        ></a>
        <a href="/blog/<%= element._id %>" class="btn gradient-text"
          >Read more <i class="fas fa-external-link-square-alt"></i
        ></a>
      </div>
    </div>
  </div>
  <hr />
  <% }) %>
</section>
<%- include('./components/footer.ejs') %>
