<%- include('./components/header.ejs') %>
<br />

<section class="blog-image">
  <span>Image credit: <a href="https://unsplash.com/@fossy">@fossy</a></span>
  <div class="shadow"></div>
</section>

<section class="flex column blog">
  <% blogs.forEach(blogpost=>{ %>
  <div class="blog-box">
    <img src="<%= blogpost.image %>" />
    <div class="details">
      <h1 class="gradient-text heading-text"><%= blogpost.title%></h1>
      <%= blogpost.caption %>
      <a href="/blog/post/<%= blogpost._id %>" class="btn gradient-text"
        >Read More</a
      >
    </div>
  </div>
  <hr />
  <br />
  <% })%>
</section>
<%- include('./components/footer.ejs') %>
