<%- include('./components/header.ejs') %>
<section class="flex column blog">
  <img src="<%= blogData.image %>" class="Cover-Video" />
  <div class="overlay"></div>
  <div class="heading-text gradient-text blog-title"><%= blogData.title %></div>
  <div class="flex s-eve">
    <div class="blog-post-para flex column">
      <div class="post-info flex s-eve">
        <span>Read Time: <%= blogData.readTime %> min to read</span>
        <span>Time: <%= blogData.time %></span>
        <span>Date: <%= blogData.date %></span>
      </div>
      <br />
      <div class="labels">
        Labels: <% blogData.labels.forEach((label)=>{ %>
        <span><%=label%></span>
        <% }) %>
      </div>
      <p><%= blogData.caption %></p>
      <p><%= blogData.article[0] %></p>
      <p><%= blogData.article[1] %></p>
      <p><%= blogData.article[2] %></p>

      <!-- <div class="flex s-eve blog-btn">
        <a class="like"><i class="fas fa-thumbs-up"></i>0</a>
        <a class="comment"><i class="fas fa-comments"></i>0</a>
        <a class="share" data-type="/blog/<%= blogData._id %>"
          ><i class="fas fa-share-alt"></i
        ></a>
      </div> -->
     <sub> More more, read this <a href=<%=blogData.ref%>><%=blogData.ref%></a></sub>
    </div>
  </div>
  <br />
  <hr />
</section>
<%- include('./components/footer.ejs') %>
