<%- include('./components/header.ejs') %>
<div class="loader flex" id="loader">
  <div class="loader-circle"></div>
</div>
<%- include('./home.ejs') %> <%- include('./about.ejs') %>
<hr />
<%- include('./skill.ejs') %> <%- include('./components/footer.ejs') %>
