<%- include('./components/header.ejs') %>
<div class="loader" id="loader"></div>
<%- include('./home.ejs') %> <%- include('./about.ejs') %> <%-
include('./education.ejs') %> <%- include('./skill.ejs') %> <%-
include('./components/footer.ejs') %>
