<%- include('./components/header.ejs') %>
<section class="flex project section column">
  <h1 class="gradient-text heading-text">Projects</h1>
  <div class="projectsDisplay flex">
    <% projects.forEach(project=>{%>
    <div class="project-box">
      <div class="content-inner">
        <div class="img-div">
          <img src="<%=project.Image%>" alt="projectImage" class="bg" />
        </div>
        <div class="overlay"></div>
        <div class="inner">
          <h2 class="gradient-text"><%=project.Title%></h2>
          <h4><%=project.caption%></h4>
        </div>
        <div class="flex column">
          <p class="cf-inner"><%=project.description%></p>
          <div class="flex" style="flex-wrap: wrap">
            <a
              href="<%=project.link%>"
              target="_blank"
              class="btn flex gradient-text"
              >Visit &nbsp; <i class="fas fa-external-link-square-alt"></i
            ></a>
            <a
              href="<%=project.codeUrl%>"
              target="_blank"
              class="btn flex gradient-text"
            >
              Github <i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <%})%>
  </div>
  <div class="flex" style="flex-wrap: wrap">
    <a
      href="https://pulkit-30.github.io/pulkit-30/"
      target="_blank"
      class="btn gradient-text"
      >See All Projects <i class="fab fa-cloudsmith"></i
    ></a>
    &nbsp;

    <a
      href="https://github.com/pulkit-30"
      target="_blank"
      class="btn gradient-text"
      >More on github <i class="fab fa-github"></i
    ></a>
  </div>
</section>
<%- include('./components/footer.ejs') %>
